@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    background-color: aquamarine;
        padding: 20px 20px 60px;
        max-width: 680px;
        margin: 0 auto;
    
 }w


#NIDHI{
    color: brown;
    font-size:30px;
    text-align: center;
    font-weight:100;
    text-justify: auto;
    font-family:Jazz LET;
    display: flex;
    justify-content: center;
}
#NITI{
    color:black;
    font-size:30px;
    text-align: center;
    font-weight:100;
    text-justify: auto;
    font-family:Jazz LET;
    display: flex;
    justify-content: center;
}
p{
    color:gold;
    font-size:30px;
    text-align: center;
    font-weight:100;
    font-family:Jazz LET;
    text-justify: auto;
    text-overflow: ellipsis;
}
#player{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-size:50px;
    text-align: center;
    font-weight: bolder;
    font-family:fantasy;
    text-justify: auto;
    text-overflow: ellipsis;
}
a{
   text-align: center;
   border: 3px black;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   border-style:groove;
    box-shadow: 3px 3px 5px 5px rgba(101, 99, 99, 0.5);  
}
a:hover {
    background-color: rgb(181, 181, 155);
  }

#NIDHI{
  
    color: brown;
    font-size:30px;
    text-align: center;
    font-weight:100;
    text-justify: auto;
    font-family:Jazz LET;
    display: flex;
    justify-content: center;
    
}
#NITI{
    color:black;
    font-size:30px;
    text-align: center;
    font-weight:100;
    text-justify: auto;
    font-family:Jazz LET;
    display: flex;
    justify-content: center;
}
p{
    color:black;
    font-size:30px;
    text-align: center;
    font-weight:100;
    font-family:Jazz LET;
    text-justify: auto;
    text-overflow: ellipsis;
}
#player{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
      
}
#image{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
    box-shadow:5px 5px 10px 10px rgba(101, 99, 99, 0.5);  
}
div.image{
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  
  div.image{
    text-align: center;
    padding: 10px 20px;
  }